*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

  
        font-family: "Rowdies", sans-serif;
        font-weight: 400;
        font-style: normal;
  
    
        font-family: "Rowdies", sans-serif;
        font-weight: 700;
        font-style: normal;
 
      
      
}

body{
    
        background-image: url(img1.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        width: 100%;
        height: 100vh;
     
       

}



h1 {
    font-size: 50px;
 
   
    

    
}

p {
    font-size: 26px;
    padding-bottom: 10px;
}


.contanier{

background-color: rgb(254, 255, 254);

display: block;
margin-left: auto;
margin-top: 50px;
margin-right: auto;
width: 540px;
border-radius: 30px;
height: 650px;
text-align: center;
padding: 40px;


}
.botoes{

    padding: 30px;
}

.boto{

    padding: 30px;
    font-size: 55px;
    cursor: pointer;
    border: none;
    border-radius:20px ;
}

#pedra {
    background-color: rgb(8, 80, 32);
        
    }
    

#pedra:hover {
background-color: rgb(10, 168, 63);
    
}
#papel {
    background-color: rgb(255, 125, 4);
        
    }

#papel:hover {
    background-color: rgb(228, 90, 10);
        
    }

    #tesoura:hover {
        background-color: rgb(138, 64, 3);
            
        }
        #tesoura {
            background-color: rgb(102, 50, 7);
                
            }
        .meuresultado {
         color: rgb(6, 240, 18);
        }

        .resultadomaquina {
            color: rgb(240, 6, 6);
           }

           @media (max-width:700px) {

            h1 {
                font-size: 40px;
            }

            p {
                font-size: 25px;
                padding-bottom: 10px;
            }
            .contanier{

             
                display: block;
margin-left: auto;

margin-right: auto;
             
                width: 380px;
                
                height: 580px;
              
                padding: 30px;
                position: fixed;
             
                }
                .boto{

                    padding: 20px;
                    font-size: 50px;
                  
                }
                .botoes{
                    width: 380px;
                margin-left: -30px;
                }
            
           }